<br/>
<br/>
<%= link_to "Logout!", logout_path, data: { turbo_method: :delete } %>
<br/>
<br/>

<h1>Edit your profile</h1>

<%= render 'form' %>

<%= link_to 'Return to articles listing', articles_path %>
